---
layout: layouts/default.njk
---
<main class=''> 
    {% Container %}
    <h1 class='sm:text-center px-1 pb-4 font-bold'>VARSTVO OSEBNIH PODATKOV UPORABNIKOV SPLETNE STRANI AVTO.NET </h1>
        <ol class='sm:text-left px-10 sm:px-3 list-decimal'>
          <li><ol class='list-style-outside pt-4 pb-10'>UPRAVLJALEC PODATKOV  
            <li>Upravljalec  osebnih  podatkov  je  AVTONET,  trgovsko,  storitveno  in  posredniško  podjetje,  d.o.o.,  naslov: Portorož, Obala 77, 6320 Portorož – Portorose, e-naslov: info@avto.net, telefonska številka: 05 67 13 700. </li>
           </ol></li>
           <li><ol class='list-outside list-disc pt-4 pb-4'>PRAVNA PODLAGA IN NAMEN OBDELAVE OSEBNIH PODATKOV 
            <li class='pt-2 pb-2'>uporabnikove  izrecne  privolitve,  in  sicer  za  namen  nudenja  storitev  in  izpolnjevanja  predpogodbenih oziroma  pogodbenih  obveznosti  (npr.  objava  oglasa,  pomoč  uporabniku,  vzpostavitev  kontakta  med prodajalcem  in  kupcem,  hranjenje  priljubljenih  kriterijev  iskanj  uporabnika,  hranjenje  priljubljenih  oglasov uporabnika, individualiziran prikaz vsebin ali oglasnih sporočil uporabnikom spletne strani itd.),</li>
            <li class='pt-2 pb-2'>na podlagi svojih zakonitih interesov (npr. delovanje spletne strani, upravljanje in vodenje poslovanja, izboljšava storitev in ponujanje novih storitev ponudnikom, upravljanje odnosa z uporabniki itd.) </li>
            <li class='pt-2 pb-2'>ali  kadar  to  zahteva  zakon  (npr.  preprečevanje  dela  na  črno  –  6.  člen  Zakona  o  preprečevanju  dela  in zaposlovanja na črno, na zahtevo organov pregona -  143. člen Zakona o kazenskem postopku, za potrebe civilnopravnih postopkov – 10. člen Zakona o pravdnem postopku itd.)</li>
           </ol></li>
           <li><ol class='list-style-outside pt-4 pb-4'>KATEGORIJE OSEBNIH PODATKOV, KI SE OBDELUJEJO 
            <li>Upravljalec  osebnih  podatkov  je  AVTONET,  trgovsko,  storitveno  in  posredniško  podjetje,  d.o.o.,  naslov: Portorož, Obala 77, 6320 Portorož – Portorose, e-naslov: info@avto.net, telefonska številka: 05 67 13 700. </li>
            <li>AVTONET obdeluje naslednje osebne podatke uporabnika: </li>
            <ol class='list-disc list-outside mx-0 px-0 pt-5'>
                <li class='pb-1'>ime, priimek oz. uradni naziv,  </li>
                <li class='pb-1'>naslov,  </li>
                <li class='pb-1'>email naslov,  </li>
                <li class='pb-1'>telefonsko številko,  </li>
                <li class='pb-4'>dostopno geslo</li>
                
            </ol>
           </ol>
           </li>
        </ol>
        <p class='px-10 sm:px-5 sm:text-left'>pri  čemer  za  namen  nudenja  storitev,  izpolnjevanja  
                predpogodbenih  in  pogodbenih  obveznosti  ter opravljanja  osnovne  dejavnosti,  tj.  objave  oglasov,  
                AVTONET  obdeluje  email  naslov,  telefonsko  številko, dostopno  geslo,  IP  in  datum  dostopa  do  podstrani http://www.moj.avto.net,
                podatke  o  registrski  številki vozila  ter  številki  šasije  vozila,  v  kolikor  so  slednji  objavljeni  v  vsebini  oglasa,  
                za  potrebe  postopkov preprečevanja dela na črno pa ime, priimek oz. uradni naziv ter naslov. </p>
        {% endContainer %}
</main>